# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment files
.env

# Test reports
results/
log.html
report.html
output.xml

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Misc
*.mp3
misc/